<div id="time-selectors2">
  <div class="time-selector2 active" id="1h" data-time="1h">1h</div>
  <div class="time-selector2" id="4h" data-time="4h">4h</div> 
</div>
<script>
  //JavaScript-Code für die Zeit-Auswahl-Elemente
  const timeSelectors2 = document.querySelectorAll('.time-selector2');
  timeSelectors2.forEach(selector => {
  selector.addEventListener('click', () => {
    timeSelectors2.forEach(selector => {
    selector.classList.remove('active');
    });
    selector.classList.add('active');
    const selectedTime = selector.getAttribute('data-time');
    });
  });
</script>
<div class="border1">
  <h1>Energieverbrauch</h1>
  <canvas id="EnergieConsumption"></canvas>
</div>

  
<script>
// Creating chart when loading "Energiewerte"
var lastHourOfEnergyConsumption = []
var energyConsumption = {{ energy_consumption|safe }}
var energyConsumptionTime = {{ energy_consumption_time|safe }}

console.log(energyConsumption)
console.log(energyConsumptionTime)



var numberElements = 12;
var updateCount = 61;

let labels = [];
let now = new Date();

// Erstellen der x-Achsen-Labels basierend auf den letzten 60 Minuten
//for (let i = 60; i >= 0; i--) {
// let time = new Date(now - i * 60000);
// labels.push(time.toLocaleTimeString());
//} 

const options2 = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
    }
  }
};

var ctx_live = document.getElementById("EnergieConsumption");
var energieConsumptionChart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: energyConsumptionTime,
    datasets: [{
      data: energyConsumption,
      borderWidth: 2,
      radius: 0,
      borderColor:'rgba(255, 99, 132, 1)',
      label: 'Energieverbrauch [kW]',
      tension: 0.25,
      //fill: {
      // target: 'origin',
        //below: 'rgba(255, 99, 132, 0.2)',
        //above: 'rgba(4, 216, 14, 0.2)'
      //}, 
    }]
  },
  options: options2,
});




// Update Charts
var getData = function() {
 $.ajax({
 type: "GET",
  url: "/energiewerte/get_energy_consumption_one_hour_update",
    success: function(data) {
        var _data = data;
        var now = new Date();
        var time = now.toLocaleTimeString();
         energieConsumptionChart.data.labels.push(time);
         energieConsumptionChart.data.datasets[0].data.push(_data);

        // Begrenzung der Datenpunkte auf die letzten 60 Minute
         if (updateCount == 61) {
           energieConsumptionChart.data.labels.shift();
           energieConsumptionChart.data.datasets[0].data.shift();
         } else {
           updateCount++;
         }

         energieConsumptionChart.update('none');
     }
   });
 };

//updateCanvas = setInterval(getData, 60000);




// Selecting '1h' via time-selector
document.getElementById('1h').addEventListener('click', function(){

    clearInterval(updateCanvas);

    if(energieConsumptionChart){
        energieConsumptionChart.destroy();
    }

    $.ajax({
    type: "GET",
    url: "/energiewerte/get_energy_consumption_one_hour",
    success: function(data) {
        var _data=data;
        console.log(_data)
        console.log(_data.energy_consumption_one)
        console.log(_data.energy_consumption_one_time)


        var ctx_live = document.getElementById("EnergieConsumption");
          energieConsumptionChart = new Chart(ctx_live, {
          type: 'line',
          data: {
            labels: _data.energy_consumption_one_time,
            datasets: [{
              data: _data.energy_consumption_one,
              borderWidth: 2,
              radius: 0,
              borderColor:'rgba(255, 99, 132, 1)',
              label: 'Energieverbrauch [kW]',
              tension: 0.25,
              //fill: {
              //  target: 'origin',
              //  below: 'rgba(255, 99, 132, 0.2)',
              //  above: 'rgba(4, 216, 14, 0.2)'
              //}, 
            }]
          },
          options: options,
        });
        energieConsumptionChart.update('none');
    }
  });
    //updateCanvas = setInterval(getData, 60000);
});













// Selecting '4h' via time-selector
   document.getElementById('4h').addEventListener('click', function(){

       clearInterval(updateCanvas);

       if(energieConsumptionChart){
           energieConsumptionChart.destroy();
       }


       $.ajax({
        type: "GET",
        url: "/energiewerte/get_energy_consumption_four_hour",
        success: function(data) {
            var _data=data;


            console.log(_data.energy_consumption_four)
            console.log(_data.energy_consumption_four_time)

            var ctx_live = document.getElementById("EnergieConsumption");
             energieConsumptionChart = new Chart(ctx_live, {
              type: 'line',
              data: {
                labels: _data.energy_consumption_four_time,
                datasets: [{
                  data: _data.energy_consumption_four,
                  borderWidth: 2,
                  radius: 0,
                  borderColor:'rgba(255, 99, 132, 1)',
                  label: 'Energieverbrauch [kW]',
                  tension: 0.25,
                  //fill: {
                  //  target: 'origin',
                  //  below: 'rgba(255, 99, 132, 0.2)',
                  //  above: 'rgba(4, 216, 14, 0.2)'
                  //}, 
                }]
              },
              options: options,
            });
           energieConsumptionChart.update('none');
       }
      });
      //updateCanvas = setInterval(getData, 60000);
   });



</script>

