{% extends 'Charts/index.html' %}

{% block content %}

<div class="container-fluid" style="background: #ffffff">

  <div class="row" data-row-id="row1">
    <div class="col-12">
      <div class="border1">
        <h1>Performance Measure</h1>
        <canvas id="PerformanceMeasure"></canvas>
      </div>
    </div>
  </div>

  <div class="row" data-row-id="row2">
    <div class="col-12">
      <div class="border1">
        <h1>Energy Consumption</h1>
        <canvas id="EnergieConsumption"></canvas>
      </div>
    </div>
  </div>

  <div class="row" data-row-id="row3">
    <div class="col-12">
      <div class="border1">
        <h1>Lab Values</h1>
        <canvas id="LabValues"></canvas>
      </div>
    </div>
  </div>

</div>




<script>

var dict = {
  '1h': 60,
  '2h': 120,
  '3h': 180,
  '4h': 240,
  '5h': 300,
  '6h': 360,
  '7h': 420,
  '8h': 480,
};



// create initial chart PerformanceMeasure
var performance_measure = {{ performance_measure|safe }}
var performance_measure_time = {{ performance_measure_time|safe }}

if (performance_measure_time.length === 0) {
    let time_now = new Date();
    for (let i = 480; i >= 0; i--) {
        let time = new Date(time_now - i * 60000);
        performance_measure_time.push(time.toLocaleTimeString());
    }
}

if (performance_measure.length === 0) {
    for (let i = 480; i >= 0; i--) {
        performance_measure.push(0);
    }
}


const options = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[%]', 
        font: {
          size: 16, 
        },
      },
    }
  }
};

var ctx_live = document.getElementById("PerformanceMeasure");
var performance_measure_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: performance_measure_time,
    datasets: [{
      data: performance_measure,
      borderWidth: 2,
      radius: 0,
      borderColor:'rgba(255, 99, 132, 1)',
      label: 'Performance Measure',
      tension: 0.25,
      //fill: {
      // target: 'origin',
        //below: 'rgba(255, 99, 132, 0.2)',
        //above: 'rgba(4, 216, 14, 0.2)'
      //}, 
    }]
  },
  options: options,
});


///////////////////////////////////////////////////////////////////////////////////////////////


// create initial chart Energieverbrauch
var energyConsumption = {{ energy_consumption|safe }}
var energyConsumptionTime = {{ energy_consumption_time|safe }}

if (energyConsumptionTime.length === 0) {
    let time_now = new Date();
    for (let i = 480; i >= 0; i--) {
        let time = new Date(time_now - i * 60000);
        energyConsumptionTime.push(time.toLocaleTimeString());
    }
}

if (energyConsumption.length === 0) {
    for (let i = 480; i >= 0; i--) {
        energyConsumption.push(0);
    }
}


const options2 = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[kW]', 
        font: {
          size: 16, 
        },
        position: 'top',
      },
    }
  }
};

var ctx_live = document.getElementById("EnergieConsumption");
var energieConsumptionChart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: energyConsumptionTime,
    datasets: [{
      data: energyConsumption,
      borderWidth: 2,
      radius: 0,
      borderColor:'rgba(255, 99, 132, 1)',
      label: 'Energy Consumption',
      tension: 0.25,
      //fill: {
      // target: 'origin',
        //below: 'rgba(255, 99, 132, 0.2)',
        //above: 'rgba(4, 216, 14, 0.2)'
      //}, 
    }]
  },
  options: options2,
});




///////////////////////////////////////////////////////////////////////////////////////////////


// create initial chart LaborWerte
var data_area_time_ = {{ area_weight_time|safe }}
var data_area_ = {{ area_weights|safe }}
var data_tensile_force_md_ = {{ tensile_force_md_all|safe }}
var data_tensile_force_cd_ = {{ tensile_force_cd_all|safe }}

if (data_area_time_.length === 0) {
    let time_now = new Date();
    for (let i = 480; i >= 0; i--) {
        let time = new Date(time_now - i * 60000);
        data_area_time_.push(time.toLocaleTimeString());
    }
}

if (data_area_[0].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_area_[0].push(0);
    }
}
if (data_area_[1].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_area_[1].push(0);
    }
}
if (data_area_[2].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_area_[2].push(0);
    }
}

if (data_tensile_force_cd_[0].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_tensile_force_cd_[0].push(0);
    }
}

if (data_tensile_force_cd_[1].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_tensile_force_cd_[1].push(0);
    }
}

if (data_tensile_force_cd_[2].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_tensile_force_cd_[2].push(0);
    }
}

if (data_tensile_force_md_[0].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_tensile_force_md_[0].push(0);
    }
}

if (data_tensile_force_md_[1].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_tensile_force_md_[1].push(0);
    }
}

if (data_tensile_force_md_[2].length === 0) {
    for (let i = 480; i >= 0; i--) {
        data_tensile_force_md_[2].push(0);
    }
}


const options5 = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      position: 'right',
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[g/m^2]', 
        font: {
          size: 16, 
        },
      },
    },
    y2: {
      position: 'left',
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[N]', 
        font: {
          size: 16, 
        },
      },
    }
  }
};

var ctx_live = document.getElementById("LabValues");
var area_weight_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: data_area_time_,
datasets: [
  {
    data: data_area_[0],
    borderWidth: 2,
    radius: 0,
    borderColor: 'rgba(255, 99, 132, 1)',
    label: 'Area Weight min',
    tension: 0.25,
  },
  {
    data: data_area_[1],
    borderWidth: 2,
    radius: 0,
    borderColor: 'rgba(4, 216, 14, 1)',
    label: 'Area Weight max',
    tension: 0.25,
  },
  {
    data: data_area_[2],
    borderWidth: 2,
    radius: 0,
    borderColor: 'rgba(0, 0, 255, 1)',
    label: 'Area Weight median',
    tension: 0.25,
  },
      {
        data: data_tensile_force_md_[0],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(128, 0, 0, 1)', // Darker red for min
        label: 'Tensile Force MD min',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },
      {
        data: data_tensile_force_md_[1],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(100, 50, 0, 1)', // Darker orange for max
        label: 'Tensile Force MD max',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },
      {
        data: data_tensile_force_md_[2],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(128, 0, 0, 1)', // Darker red for median
        label: 'Tensile Force MD median',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },


            {
        data: data_tensile_force_cd_[0],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(255, 128, 128, 1)', // Lighter red for min
        label: 'Tensile Force CD min',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },
      {
        data: data_tensile_force_cd_[1],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(255, 180, 100, 1)', // Lighter orange for max
        label: 'Tensile Force CD max',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },
      {
        data: data_tensile_force_cd_[2],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(255, 128, 128, 1)', // Lighter red for median
        label: 'Tensile Force CD median',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },


]
  },
  options: options5,
});








// logic to get new data for '1h' chart
var getData1 = function() {
  
  $.ajax({
    type: "GET",
    url: "/Charts/updateChartOneMinute",
    success: function(data) {
      var _data_performance=data[0];
      var _data_energy=data[1];
      var _data_area_max=data[2];
      var _data_area_min=data[3];
      var _data_area_median=data[4];
      var _data_tensile_cd_max=data[5];
      var _data_tensile_cd_min=data[6];
      var _data_tensile_cd_median=data[7];
      var _data_tensile_md_max=data[8];
      var _data_tensile_md_min=data[9];
      var _data_tensile_md_median=data[10];

      var now = new Date();
      var time = now.toLocaleTimeString();

      // Updating Performance
      performance_measure_chart.data.labels.push(time);
      performance_measure_chart.data.datasets[0].data.push(_data_performance);
      
      performance_measure_chart.data.labels.shift();
      performance_measure_chart.data.datasets[0].data.shift();
  
      performance_measure_chart.update('none');


      // Updating Energieverbrauch
      energieConsumptionChart.data.labels.push(time);
      energieConsumptionChart.data.datasets[0].data.push(_data_energy);

      energieConsumptionChart.data.labels.shift();
      energieConsumptionChart.data.datasets[0].data.shift();

      energieConsumptionChart.update('none');


       // Updating AreaWeight
      area_weight_chart.data.labels.push(time);
      area_weight_chart.data.datasets[0].data.push(_data_area_min);
      area_weight_chart.data.datasets[1].data.push(_data_area_max);
      area_weight_chart.data.datasets[2].data.push(_data_area_median);

      area_weight_chart.data.datasets[3].data.push(_data_tensile_cd_min);
      area_weight_chart.data.datasets[4].data.push(_data_tensile_cd_max);
      area_weight_chart.data.datasets[5].data.push(_data_tensile_cd_median);

      area_weight_chart.data.datasets[6].data.push(_data_tensile_md_min);
      area_weight_chart.data.datasets[7].data.push(_data_tensile_md_max);
      area_weight_chart.data.datasets[8].data.push(_data_tensile_md_median);


      area_weight_chart.data.labels.shift();
      area_weight_chart.data.datasets[0].data.shift();
      area_weight_chart.data.datasets[1].data.shift();
      area_weight_chart.data.datasets[2].data.shift();
      area_weight_chart.data.datasets[3].data.shift();
      area_weight_chart.data.datasets[4].data.shift();
      area_weight_chart.data.datasets[5].data.shift();
      area_weight_chart.data.datasets[6].data.shift();
      area_weight_chart.data.datasets[7].data.shift();
      area_weight_chart.data.datasets[8].data.shift();

      area_weight_chart.update('none');

    }
  });
};

var updateCanvas = setInterval(getData1, 60000);

window.addEventListener('beforeunload', function() {
    clearInterval(updateCanvas);
});

</script>

{% endblock %}


