{% load static %}
<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <div class="d-flex">
            <a class="navbar-brand me-2 mb-1 d-flex" href="#">
                <img src="{% static 'images/LogoAdaNowoV2.png' %}" width="125" height="50" alt="">
            </a>
        </div>

        <div class="header" id="time"></div>

        <img src="{% static 'images/logoMAT.png' %}" width="15" height="20" alt="" id="MAT">
    </div>
</nav>

<script>
    const timeDisplay = document.getElementById("time");

    function updateTime() {
        var now = new Date();
        var time = now.toLocaleDateString() + ' ' + now.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'});
        timeDisplay.innerHTML = "AdaNowo Dashboard " + time;
    }
    updateTime();
    setInterval(updateTime, 1000);
</script>
