{% extends 'Charts/index.html' %}

{% block content %}

<div class="container-fluid" style="background: #ffffff">

  <div class="row">

    <div class="col-md-4" data-row-id="row1">
      <div class="border1">
        <h1>Nonwoven Unevenness          
          <select id="dropdownNonwoven">
            <option value="1h">1h</option>
            <option value="3h">3h</option>
            <option value="6h">6h</option>
            <option value="12h">12h</option>
            <option value="1d">1d</option>
            <option value="7d">7d</option>
            <option value="30d">30d</option>
          </select>
          <button onclick="resetZoomChart('Nonwoven')" class="small-button">
              <i class="fa-solid fa-rotate-left"></i>
          </button>
        </h1>
        <canvas id="NonwovenUnevenness"></canvas>
      </div>
    </div>

    <div class="col-md-4" data-row-id="row2">
      <div class="border1">
        <h1>Card Floor Evenness 
          <select id="dropdownCardFloorEveness">
            <option value="1h">1h</option>
            <option value="3h">3h</option>
            <option value="6h">6h</option>
            <option value="12h">12h</option>
            <option value="1d">1d</option>
            <option value="7d">7d</option>
            <option value="30d">30d</option>
          </select>
          <button onclick="resetZoomChart('CardFloorEvenness')" class="small-button">
              <i class="fa-solid fa-rotate-left"></i>
          </button>
        </h1>
        <canvas id="CardFloorEvenness"></canvas>
      </div>
    </div>

    <div class="col-md-4" data-row-id="row3">
      <div class="border1">
        <h1>Environmental Values
          <select id="dropdownEnvironmentalValues">
            <option value="1h">1h</option>
            <option value="3h">3h</option>
            <option value="6h">6h</option>
            <option value="12h">12h</option>
            <option value="1d">1d</option>
            <option value="7d">7d</option>
            <option value="30d">30d</option>
          </select>
          <button onclick="resetZoomChart('EnvironmentalValues')" class="small-button">
              <i class="fa-solid fa-rotate-left"></i>
          </button>
        </h1>
        <canvas id="EnvironmentalValues"></canvas>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-8">
      <div class="border1">
        <h1>Laboratory Values 1
          <select id="dropdownLaboratoryValues">
            <option value="1h">1h</option>
            <option value="3h">3h</option>
            <option value="6h">6h</option>
            <option value="12h">12h</option>
            <option value="1d">1d</option>
            <option value="7d">7d</option>
            <option value="30d">30d</option>
          </select>
          <button onclick="resetZoomChart('LaboratoryValues')" class="small-button">
              <i class="fa-solid fa-rotate-left"></i>
          </button>
        </h1>
        <canvas id="LabValues"></canvas>
      </div>
    </div>

    <div class="col-4">
      <div class="border1">
        <h1>Laboratory Values 2
          <select id="dropdownTearLength">
            <option value="1h">1h</option>
            <option value="3h">3h</option>
            <option value="6h">6h</option>
            <option value="12h">12h</option>
            <option value="1d">1d</option>
            <option value="7d">7d</option>
            <option value="30d">30d</option>
          </select>
          <button onclick="resetZoomChart('TearLength')" class="small-button">
              <i class="fa-solid fa-rotate-left"></i>
          </button>
        </h1>
        <canvas id="TearLength"></canvas>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-8">
      <div class="border1">
        <h1>Economics
          <select id="dropdownEconomics">
            <option value="1h">1h</option>
            <option value="3h">3h</option>
            <option value="6h">6h</option>
            <option value="12h">12h</option>
            <option value="1d">1d</option>
            <option value="7d">7d</option>
            <option value="30d">30d</option>
          </select>
          <button onclick="resetZoomChart('Economics')" class="small-button">
              <i class="fa-solid fa-rotate-left"></i>
          </button>
        </h1>
        <canvas id="Economics"></canvas>
      </div>
    </div>
 
    <div class="col-4">
      <div class="border1">
        <h1>Line Power Consumption
          <select id="dropdownLinePowerConsumption">
            <option value="1h">1h</option>
            <option value="3h">3h</option>
            <option value="6h">6h</option>
            <option value="12h">12h</option>
            <option value="1d">1d</option>
            <option value="7d">7d</option>
            <option value="30d">30d</option>
          </select>
          <button onclick="resetZoomChart('LinePowerConsumption')" class="small-button">
              <i class="fa-solid fa-rotate-left"></i>
          </button>
        </h1>
        <canvas id="LinePowerConsumption"></canvas>
      </div>
    </div>

  </div>

</div>


<script>

var time_select = {
  '1h': 1,
  '3h': 3,
  '6h': 6,
  '12h': 12,
  '1d': 24,
  '7d': 168,
  '30d': 720
  }


// Listen for dropdown changes
document.getElementById("dropdownNonwoven").addEventListener("change", function() {
    sendDataToBackend("NonwovenUnevennes", this.value);   
});

document.getElementById("dropdownCardFloorEveness").addEventListener("change", function() {
    sendDataToBackend("CardFloorEvenness", this.value);   
});

document.getElementById("dropdownEnvironmentalValues").addEventListener("change", function() {
    sendDataToBackend("EnvironmentalValues", this.value);  
});

document.getElementById("dropdownLaboratoryValues").addEventListener("change", function() {
    sendDataToBackend("LaboratoryValues", this.value);  
});

document.getElementById("dropdownTearLength").addEventListener("change", function() {
    sendDataToBackend("TearLength", this.value);  
});

document.getElementById("dropdownEconomics").addEventListener("change", function() {
    sendDataToBackend("Economics", this.value);  
});

document.getElementById("dropdownLinePowerConsumption").addEventListener("change", function() {
    sendDataToBackend("LinePowerConsumption", this.value);  
});


// sending chart name and time selection to backend and get new data
function sendDataToBackend(headerOfChart, dropdown_time) {

  var data = {
      timeRange: dropdown_time,
      header: headerOfChart
  };

  $.ajax({
    type: "GET",
    url: '/Adanowo/update/',
    data: data,
    dataType: "json",
    success: function(response) {
      if (data["header"] === "NonwovenUnevennes") {
        nonwoven_uvenness = response["timeRange"][0]
        nonwoven_uvenness_time = response["timeRange"][1]

        nonwoven_unevenness_chart.data.labels = response["timeRange"][1]
        nonwoven_unevenness_chart.data.datasets[0].data = response["timeRange"][0]

        nonwoven_unevenness_chart.update()
    
        nonwoven_unevenness_chart.update()
        nonwoven_unevenness_chart.render()
        console.log(nonwoven_unevenness_chart.data.datasets[0].data.length)
      }
      else if (data["header"] === "CardFloorEvenness") {
        card_floor_evenness = response["timeRange"][0]
        card_floor_evenness_time = response["timeRange"][1]                
        card_floor_evenness_chart.data.labels = card_floor_evenness_time
        card_floor_evenness_chart.data.datasets[0].data = card_floor_evenness;
        card_floor_evenness_chart.update('none');
      }
      else if (data["header"] === "EnvironmentalValues") {
        ambient_temperature = response["timeRange"][0][0]
        humidity_environment = response["timeRange"][0][1]
        environmental_values_time = response["timeRange"][1]

        environmental_values_chart.data.labels = environmental_values_time;
        environmental_values_chart.data.datasets[0].data = ambient_temperature;
        environmental_values_chart.data.datasets[1].data = humidity_environment;

        environmental_values_chart.update('none');
      }
      else if (data["header"] === "LaboratoryValues") {
        area_weights = response["timeRange"][0][0]
        tensile_force_md_all = response["timeRange"][0][1]
        tensile_force_cd_all = response["timeRange"][0][2]
        laboratory_values_time = response["timeRange"][1]                
        laboratory_values_chart.data.labels = laboratory_values_time
        laboratory_values_chart.data.datasets[0].data = area_weights;
        laboratory_values_chart.data.datasets[1].data = tensile_force_md_all
        laboratory_values_chart.data.datasets[2].data = tensile_force_cd_all
        //laboratory_values_chart.data.datasets[3].data[2] = tensile_force_md_all[1];
        //laboratory_values_chart.data.datasets[4].data[2] = tensile_force_md_all[2];
        //laboratory_values_chart.data.datasets[5].data[2] = tensile_force_md_all[3];
        //laboratory_values_chart.data.datasets[6].data[3] = tensile_force_cd_all[1];
        //laboratory_values_chart.data.datasets[7].data[3] = tensile_force_cd_all[2];
        //laboratory_values_chart.data.datasets[8].data[3] = tensile_force_cd_all[3];
        laboratory_values_chart.update('none');
      }
      else if (data["header"] === "TearLength") {
        tear_length_md = response["timeRange"][0][0]
        tear_length_cd = response["timeRange"][0][1]
        tear_length_time = response["timeRange"][1]                
        tear_length_chart.data.labels = tear_length_time
        tear_length_chart.data.datasets[0].data = tear_length_md;
        tear_length_chart.data.datasets[1].data = tear_length_cd;
        tear_length_chart.update('none');
      }
      else if (data["header"] === "Economics") {
        economics = response["timeRange"][0][0]
        material_costs = response["timeRange"][0][1]
        contribution_margin = response["timeRange"][0][2]
        production_income = response["timeRange"][0][3]
        economics_time = response["timeRange"][1]                
        economics_chart.data.labels = economics_time
        economics_chart.data.datasets[0].data = economics;
        economics_chart.data.datasets[1].data = material_costs;
        economics_chart.data.datasets[2].data = contribution_margin;
        economics_chart.data.datasets[3].data = production_income;
        economics_chart.update('none');
      }
      else if (data["header"] === "LinePowerConsumption") {
        line_power_consumption = response["timeRange"][0]
        line_power_consumption_time = response["timeRange"][1]                
        line_power_consumption_chart.data.labels = line_power_consumption_time
        line_power_consumption_chart.data.datasets[0].data = line_power_consumption;
        line_power_consumption_chart.update('none');
      }
    },
    error: function(xhr, status, error) {
        console.error('Fehler beim Senden der Anfrage:', error);
    }
  });
}


////////////////////////////////////////////////////////////////////////////////////////

/// create initial chart nonwoven_unevenness ///
var nonwoven_uvenness = {{ nonwoven_uvenness|safe }}
var nonwoven_uvenness_time = {{ nonwoven_uvenness_time|safe }}

console.log(nonwoven_uvenness)
console.log(nonwoven_uvenness_time)
const options_nonwoven_uvenness = {
  plugins: {
    zoom: {
      zoom: {
        wheel: {
          enabled: true,
        },
        drag: {
          enabled: true,
          backgroundColor: 'rgba(255,0,0,0.3)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        },
        mode: 'x'
      },
    }
  },

  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
          if(context.tick.value === 0) {
              return 'black'
          }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[quantity]', 
        font: {
          size: 12, 
        },
      },
    }
  }
};

var ctx_live = document.getElementById("NonwovenUnevenness");
var nonwoven_unevenness_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: nonwoven_uvenness_time,
    datasets: [{
      data: nonwoven_uvenness,
      borderWidth: 2,
      radius: 2,
      borderColor: 'rgba(54, 162, 235, 1)',
      label: 'Nonwoven Unevenness',
      tension: 0.25,
      fill: {
       target: 'origin',
        //below: 'rgba(54, 162, 235, 0.8)',
        above: 'rgba(54, 162, 235, 0.1)'
      }, 
    }]
  },
  options: options_nonwoven_uvenness,
});


///////////////////////////////////////////////////////////////////////////////////////////////

// create initial chart Energieverbrauch
var card_floor_evenness = {{ card_floor_evenness|safe }}
var card_floor_evenness_time = {{ nonwoven_uvenness_time|safe }}

const options_card_floor_evenness = {
  plugins: {
    zoom: {
      zoom: {
        wheel: {
          enabled: true,
        },
        drag: {
          enabled: true,
          backgroundColor: 'rgba(255,0,0,0.3)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        },
        mode: 'x'
      },
    }
  },

  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[quantity]', 
        font: {
          size: 12, 
        },
        position: 'top',
      },
    }
  }
};

var ctx_live = document.getElementById("CardFloorEvenness");
var card_floor_evenness_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: card_floor_evenness_time,
    datasets: [{
      data: card_floor_evenness,
      borderWidth: 2,
      radius: 2,
      borderColor: 'rgba(0, 128, 0, 1)',
      label: 'Card Floor Evenness',
      tension: 0.25,
      fill: {
       target: 'origin',
        below: 'rgba(0, 128, 0, 0.1)',
        above: 'rgba(0, 128, 0, 0.1)'
      }, 
    }]
  },
  options: options_card_floor_evenness,
});


///////////////////////////////////////////////////////////////////////////////////////////////

// create initial chart Environmental Values
var ambient_temperature = {{ ambient_temperature|safe }}
var humidity_environment = {{ humidity_environment|safe }}
var environmental_values_time = {{ environmental_values_time|safe }}

const options_environmental_values = {
  plugins: {
    zoom: {
      zoom: {
        wheel: {
          enabled: true,
        },
        drag: {
          enabled: true,
          backgroundColor: 'rgba(255,0,0,0.3)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        },
        mode: 'x'
      },
    }
  },
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[°C]', 
        font: {
          size: 12, 
        },
        position: 'top',
      },
    },
    y2: {
      position: 'right',
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[%]', 
        font: {
          size: 12, 
        },
        position: 'bottom',
      },
    }
  }
};

var ctx_live = document.getElementById("EnvironmentalValues");
var environmental_values_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: environmental_values_time,
    datasets: [
    {
      data: ambient_temperature,
      borderWidth: 2,
      radius: 2,
      borderColor: 'rgba(255, 0, 0, 1)',
      label: 'Temperature [°C]',
      tension: 0.25,
    },
    {
      data: humidity_environment,
      borderWidth: 2,
      radius: 2,
      borderColor: 'rgba(22, 128, 22, 1)',
      label: 'Humidity [%]',
      tension: 0.25,
      yAxisID: 'y2'
    }
    ]
  },
  options: options_environmental_values,
});


///////////////////////////////////////////////////////////////////////////////////////////////

// create initial chart LaborWerte
var laboratory_values_time = {{ laboratory_values_time|safe }} 
var area_weights = {{ area_weight|safe }}
var tensile_force_md_all = {{ tensile_force_md|safe }}
var tensile_force_cd_all = {{ tensile_force_cd|safe }}

const options_laboratory_value = {
  plugins: {
    zoom: {
      zoom: {
        wheel: {
          enabled: true,
        },
        drag: {
          enabled: true,
          backgroundColor: 'rgba(255,0,0,0.3)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        },
        mode: 'x'
      },
    }
  },

  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      position: 'left',
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
          if(context.tick.value === 0) {
              return 'black'
          }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[g/m^2]', 
        font: {
          size: 12, 
        },
      },
    },
    y2: {
      position: 'right',
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
          if(context.tick.value === 0) {
              return 'black'
          }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[N]', 
        font: {
          size: 12, 
        },
      },
    }
  }
};

var ctx_live = document.getElementById("LabValues");
var laboratory_values_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: laboratory_values_time,
    datasets: [
    {
      data: area_weights,
      borderWidth: 2,
      radius: 2,
      borderColor: 'rgba(0, 0, 255, 1)',
      label: 'Area Weight Mean [g/m^2]',
      tension: 0.25,
      showLine: false 
    },
    {
      radius: 2,
      data: tensile_force_md_all,
      borderWidth: 2,
      radius: 2,
      borderColor: 'rgba(255, 180, 100, 1)', 
      label: 'Tensile Strength MD Mean [N]',
      tension: 0.25,
      yAxisID: 'y2',
      showLine: false 
    },
    {
      radius: 2,
      data: tensile_force_cd_all,
      borderWidth: 2,
      radius: 2,
      borderColor: 'rgba(255, 128, 128, 1)', 
      label: 'Tensile Strength CD Mean [N]',
      tension: 0.25,
      yAxisID: 'y2',
      showLine: false
    },
    ]
  },
  options: options_laboratory_value
});


///////////////////////////////////////////////////////////////////////////////////////////////

// create initial chart Ambient Temperature
var tear_length_md = {{ tear_length_md|safe }}
var tear_length_cd = {{ tear_length_cd|safe }}
var tear_length_time = {{ tear_length_time|safe }}

const options_tear_length = {
  plugins: {
    zoom: {
      zoom: {
        wheel: {
          enabled: true,
        },
        drag: {
          enabled: true,
          backgroundColor: 'rgba(255,0,0,0.3)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        },
        mode: 'x'
      },
    }
  },

  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      position: 'left',
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
          if(context.tick.value === 0) {
              return 'black'
          }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[%]', 
        font: {
          size: 12, 
        },
        position: 'bottom',
      },
    }

  }
};

var ctx_live = document.getElementById("TearLength");
var tear_length_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: tear_length_time,
    datasets: [
    {
      data: tear_length_md,
      borderWidth: 2,
      radius: 2,
      borderColor:'rgba(255, 99, 132, 1)',
      label: 'Tear Length MD Mean',
      tension: 0.25,
      showLine: false
    },
    {
      data: tear_length_cd,
      borderWidth: 2,
      radius: 2,
      borderColor:'rgba(55, 121, 132, 1)',
      label: 'Tear Length CD Mean',
      tension: 0.25,
      showLine: false
    },
    ]
  },
  options: options_tear_length,
});


////////////////////////////////////////////////////////////////////

// create initial chart Economics
var energy_costs = {{ energy_costs|safe }}
var economics_time = {{ energy_costs_time|safe }}
var material_costs = {{ material_costs|safe }}
var contribution_margin = {{ contribution_margin|safe }}
var production_income = {{ production_income|safe }}

const options_economics = {
    plugins: {
    zoom: {
      zoom: {
        wheel: {
          enabled: true,
        },
        drag: {
          enabled: true,
          backgroundColor: 'rgba(255,0,0,0.3)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        },
        mode: 'x'
      },
    }
  },
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[EUR]', 
        font: {
          size: 12, 
        },
        position: 'bottom',
      },
    },
    
  }
};

var ctx_live = document.getElementById("Economics");
var economics_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: economics_time,
    datasets: [{
      data: energy_costs,
      borderWidth: 2,
      radius: 0,
      borderColor:'rgba(155, 99, 132, 1)',
      label: 'Energy Costs',
      tension: 0.25,
      //fill: {
      // target: 'origin',
        //below: 'rgba(255, 99, 132, 0.2)',
        //above: 'rgba(4, 216, 14, 0.2)'
      //}, 
    },
    {
      data: material_costs,
      borderWidth: 2,
      radius: 0,
      borderColor: 'rgba(4, 216, 14, 1)',
      label: 'Material Costs',
      tension: 0.25,
    },
    {
      data: contribution_margin,
      borderWidth: 2,
      radius: 0,
      borderColor: 'rgba(77, 77, 77, 1)',
      label: 'Contribution Margin',
      tension: 0.25,
    },
    {
      data: production_income,
      borderWidth: 2,
      radius: 0,
      borderColor: 'rgba(255, 0, 255, 1)',
      label: 'Production Income',
      tension: 0.25,
    }
    ]  
  },
  options: options_economics,
});


////////////////////////////////////////////////////////////////////

// create initial chart Line Power Consumption
var line_power_consumption = {{ line_power_consumption|safe }}
var line_power_consumption_time = {{ line_power_consumption_time|safe }}

const options_line_power_consumption = {
  plugins: {
    zoom: {
      zoom: {
        wheel: {
          enabled: true,
        },
        drag: {
          enabled: true,
          backgroundColor: 'rgba(255,0,0,0.3)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 1
        },
        mode: 'x'
      },
    }
  },

  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
          if(context.tick.value === 0) {
              return 'black'
          }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[kW]', 
        font: {
          size: 12, 
        },
        position: 'bottom',
      },
    }
  }
};

var ctx_live = document.getElementById("LinePowerConsumption");
var line_power_consumption_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: line_power_consumption_time,
    datasets: [{
      data: line_power_consumption,
      borderWidth: 2,
      radius: 0,
      borderColor:'rgba(122, 22, 12, 1)',
      label: 'Energy Consumption',
      tension: 0.25,
      fill: {
        target: 'origin',
        below: 'rgba(122, 22, 12, 0.1)',
        above: 'rgba(122, 22, 12, 0.1)'
      }, 
    }]
  },
  options: options_line_power_consumption,
});


////////////////////////////////////////////////////////////////////

/// updating Nonwoven Environment ///
var timeoutIdNonwoven;
function updating_nonenwoven_unevenness(timeOut) {
  $.ajax({
    type: "GET",
    url: "/Charts/update_nonwoven_unevenness_chart",
    success: function(data) {

      var _nonwoven_unevenness=data["NonwovenUnevenness"];
      var _nonwoven_unevenness_time=data["NonwovenUnevennessTime"];
      var date = new Date(_nonwoven_unevenness_time);

      if (/^\d{2}:\d{2}$/.test(nonwoven_unevenness_chart.data.labels[0])) {
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time =  `${hours}:${minutes}`;
      }
      else {
        var day = date.getUTCDate().toString();
        var month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time = `${day}-${month} ${hours}:${minutes}`;
      }

      nonwoven_unevenness_chart.data.labels.push(time);
      nonwoven_unevenness_chart.data.datasets[0].data.push(_nonwoven_unevenness);
      nonwoven_unevenness_chart.data.labels.shift();
      nonwoven_unevenness_chart.data.datasets[0].data.shift();
      nonwoven_unevenness_chart.update('none');
    }
  });
  clearTimeout(timeoutIdNonwoven);
  timeoutIdNonwoven = setTimeout(function() {
    updating_nonenwoven_unevenness(timeOut); 
  }, timeOut);
};


/// updating Card Floor Evenness ///
var timeoutIdCardFloor;
function updating_card_floor_evenness(timeOut) {
  $.ajax({
    type: "GET",
    url: "/Charts/update_card_floor_evenness_chart",
    success: function(data) {
  
      var _card_floor_evenness=data["CardFloorEvenness"];
      var _card_floor_evenness_time=data["CardFloorEvennessTime"];
      
      var date = new Date(_card_floor_evenness_time);

      if (/^\d{2}:\d{2}$/.test(card_floor_evenness_chart.data.labels[0])) {
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time =  `${hours}:${minutes}`;
      }
      else {
        var day = date.getUTCDate().toString();
        var month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time = `${day}-${month} ${hours}:${minutes}`;
      }

      card_floor_evenness_chart.data.labels.push(time);
      card_floor_evenness_chart.data.datasets[0].data.push(_card_floor_evenness);
      card_floor_evenness_chart.data.labels.shift();
      card_floor_evenness_chart.data.datasets[0].data.shift();
      card_floor_evenness_chart.update('none');
    }
  });
  clearTimeout(timeoutIdCardFloor);
  timeoutIdCardFloor = setTimeout(function() {
    updating_card_floor_evenness(timeOut); 
  }, timeOut);
};


/// updating Ambient Temperature ///
var timeoutIdEnvironmentalValues;
function updating_environmental_values(timeOut) {
  $.ajax({
    type: "GET",
    url: "/Charts/update_environmental_values_chart",
    success: function(data) {
  
      var _ambient_temperature=data["AmbientTemperature"];
      var _humidty=data["Humidity"];
      var _environmental_values_time=data["EnvironmentalValuesTime"];
      var date = new Date(_environmental_values_time);
  
      if (/^\d{2}:\d{2}$/.test(environmental_values_chart.data.labels[0])) {
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time =  `${hours}:${minutes}`;
      }
      else {
        var day = date.getUTCDate().toString();
        var month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time = `${day}-${month} ${hours}:${minutes}`;
      }

      environmental_values_chart.data.labels.push(time);
      environmental_values_chart.data.datasets[0].data.push(_ambient_temperature);
      environmental_values_chart.data.datasets[1].data.push(_humidty);
      environmental_values_chart.data.labels.shift();
      environmental_values_chart.data.datasets[0].data.shift();
      environmental_values_chart.data.datasets[1].data.shift();
      environmental_values_chart.update('none');
    }
  });
  clearTimeout(timeoutIdEnvironmentalValues);
  timeoutIdEnvironmentalValues = setTimeout(function() {
    updating_environmental_values(timeOut); 
  }, timeOut)
};


/// updating laboratory values ///
var timeoutIdLaboratory;
function updating_laboratory_values(timeOut) {
  $.ajax({
    type: "GET",
    url: "/Charts/update_laboratory_values_chart",
    success: function(data) {

      var _area_weight_time=data["AreaWeightTime"];
      var _area_weight=data["AreaWeight"];
      var _tensile_strength_med_md = data["TensileMD"]
      var _tensile_strength_med_cd = data["TensileCD"]

      var date = new Date(_area_weight_time);

      if (/^\d{2}:\d{2}$/.test(laboratory_values_chart.data.labels[0])) {
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time =  `${hours}:${minutes}`;
      }
      else {
        var day = date.getUTCDate().toString();
        var month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time = `${day}-${month} ${hours}:${minutes}`;
      }

      laboratory_values_chart.data.labels.push(time);

      laboratory_values_chart.data.datasets[0].data.push(_area_weight);
      laboratory_values_chart.data.datasets[1].data.push(_tensile_strength_med_md);
      laboratory_values_chart.data.datasets[2].data.push(_tensile_strength_med_cd);
 
      laboratory_values_chart.data.labels.shift();
      laboratory_values_chart.data.datasets[0].data.shift();
      laboratory_values_chart.data.datasets[1].data.shift();
      laboratory_values_chart.data.datasets[2].data.shift();
      laboratory_values_chart.update('none');
    }
  });
  clearTimeout(timeoutIdLaboratory);
  timeoutIdLaboratory = setTimeout(function() {
    updating_laboratory_values(timeOut); 
  }, timeOut)
}


/// updating Tensile Strength ///
var timeoutIdTear;
function updating_tear_length(timeOut) {
  $.ajax({
    type: "GET",
    url: "/Charts/update_tear_length_chart",
    success: function(data) {
  
      var _tear_length_md=data["TearLengthMD"];
      var _tear_length_cd=data["TearLengthCD"];
      var _tear_length_time=data["TearLengthTime"];
      var date = new Date(_tear_length_time);
  
      if (/^\d{2}:\d{2}/.test(tear_length_chart.data.labels[0])) {
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time =  `${hours}:${minutes}`;
      }
      else {
        var day = date.getUTCDate().toString();
        var month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time = `${day}-${month} ${hours}:${minutes}`;
      }

      tear_length_chart.data.labels.push(time);
      tear_length_chart.data.datasets[0].data.push(_tear_length_md);
      tear_length_chart.data.datasets[1].data.push(_tear_length_cd);

      tear_length_chart.data.labels.shift();
      tear_length_chart.data.datasets[0].data.shift();
      tear_length_chart.data.datasets[1].data.shift();
      tear_length_chart.update('none');
    }
  });
  clearTimeout(timeoutIdTear);
  timeoutIdTear = setTimeout(function() {
    updating_tear_length(timeOut); 
  }, timeOut)
};


/// updating economics ///
var timeoutIdEconomics;
function updating_economics(timeOut){
  $.ajax({
    type: "GET",
    url: "/Charts/update_economics_chart",
    success: function(data) {
  
      var _energy_costs=data["EnergyCosts"];
      var _material_costs=data["MaterialCosts"];
      var _contribution_margin=data["ContributionMargin"];
      var _production_income=data["ProductionIncome"];
      var _economics_time=data["EconomicsTime"]
       
      var date = new Date(_economics_time);

      if (/^\d{2}:\d{2}/.test(economics_chart.data.labels[0])) {
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time =  `${hours}:${minutes}`;
      }
      else {
        var day = date.getUTCDate().toString();
        var month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time = `${day}-${month} ${hours}:${minutes}`;
      }

      economics_chart.data.labels.push(time);
      economics_chart.data.datasets[0].data.push(_energy_costs);
      economics_chart.data.datasets[1].data.push(_material_costs);
      economics_chart.data.datasets[2].data.push(_contribution_margin);
      economics_chart.data.datasets[3].data.push(_production_income);

      economics_chart.data.labels.shift();
      economics_chart.data.datasets[0].data.shift();
      economics_chart.data.datasets[1].data.shift();
      economics_chart.data.datasets[2].data.shift();
      economics_chart.data.datasets[3].data.shift();

      economics_chart.update('none');
    }
  });
  clearTimeout(timeoutIdEconomics);
  timeoutIdEconomics = setTimeout(function() {
    updating_economics(timeOut); 
  }, timeOut)
}

/// updating line power consumption///
var timeoutIdLinePower;
function updating_line_power_consumption(timeOut) {
  $.ajax({
    type: "GET",
    url: "/Charts/update_line_power_consumption_chart",
    success: function(data) {
  
      var _line_power_consumption=data["LinePowerConsumption"];
      var _line_power_consumption_time=data["LinePowerConsumptionTime"];
  
      var date = new Date(_line_power_consumption_time);

      if (/^\d{2}:\d{2}/.test(line_power_consumption_chart.data.labels[0])) {
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time =  `${hours}:${minutes}`;
      }
      else {
        var day = date.getUTCDate().toString();
        var month = (date.getUTCMonth() + 1).toString().padStart(2, '0');
        var hours = date.getUTCHours().toString().padStart(2, '0');
        var minutes = date.getUTCMinutes().toString().padStart(2, '0');
        var time = `${day}-${month} ${hours}:${minutes}`;
      }

      line_power_consumption_chart.data.labels.push(time);
      line_power_consumption_chart.data.datasets[0].data.push(_line_power_consumption);
      line_power_consumption_chart.data.labels.shift();
      line_power_consumption_chart.data.datasets[0].data.shift();
      line_power_consumption_chart.update('none');
    }
  });
  clearTimeout(timeoutIdLinePower);
  timeoutIdLinePower = setTimeout(function() {
    updating_line_power_consumption(timeOut); 
  }, timeOut);
};


// Start the updating functions
timeoutIdNonwoven = setTimeout(function() {
  updating_nonenwoven_unevenness(60000);
}, 60000);

timeoutIdCardFloor = setTimeout(function() {
  updating_card_floor_evenness(60000);
}, 60000);

timeoutIdEnvironmentalValues = setTimeout(function() {
  updating_environmental_values(60000);
}, 60000);

timeoutIdLaboratory = setTimeout(function() {
  updating_laboratory_values(60000);
}, 60000);

timeoutIdTear = setTimeout(function() {
  updating_tear_length(60000);
}, 60000);

timeoutIdEconomics = setTimeout(function() {
  updating_economics(60000);
}, 60000);

timeoutIdLinePower = setTimeout(function() {
  updating_line_power_consumption(60000);
}, 60000);
 

// Set new updating interval for selecting different time
// Updating interval nonwoven unevenness
document.getElementById("dropdownNonwoven").addEventListener("change", function() {
  let selectedValue = this.value;
  var delayNonwoven;

  if (selectedValue === "1h" || selectedValue === "3h" || selectedValue === "6h" || selectedValue === "12h") {
    delayNonwoven = 60000;
  }
  else if (selectedValue === "1d") {
    delayNonwoven = 600000;
  }
  else if (selectedValue === "7d" || selectedValue === "30d") {
    delayNonwoven = 3600000; 
  }
  clearTimeout(timeoutIdNonwoven);
  timeoutIdNonwoven = setTimeout(function() {
    updating_nonenwoven_unevenness(delayNonwoven); 
  }, delayNonwoven);
});


// Updating interval card floor evenness
document.getElementById("dropdownCardFloorEveness").addEventListener("change", function() {
  let selectedValue = this.value;
  var delayCardFloor;

  if (selectedValue === "1h" || selectedValue === "3h" || selectedValue === "6h" || selectedValue === "12h") {
    delayCardFloor = 60000;
  }
  else if (selectedValue === "1d") {
    delayCardFloor = 600000;
  }
  else if (selectedValue === "7d" || selectedValue === "30d") {
    delayCardFloor = 3600000;
  }

  clearTimeout(timeoutIdCardFloor);
  timeoutIdCardFloor = setTimeout(function() {
    updating_card_floor_evenness(delayCardFloor); 
  }, delayCardFloor);
});


// Updating interval Environmental Values
document.getElementById("dropdownEnvironmentalValues").addEventListener("change", function() {
  let selectedValue = this.value;
  var delayEnvironmentalValues;

  if (selectedValue === "1h" || selectedValue === "3h" || selectedValue === "6h" || selectedValue === "12h") {
    delayEnvironmentalValues = 60000;
  }
  else if (selectedValue === "1d") {
    delayEnvironmentalValues = 600000;
  }
  else if (selectedValue === "7d" || selectedValue === "30d") {
    delayEnvironmentalValues = 3600000;
  }
  clearTimeout(timeoutIdEnvironmentalValues);
  timeoutIdEnvironmentalValues = setTimeout(function() {
    updating_environmental_values(delayEnvironmentalValues); 
  }, delayEnvironmentalValues);
});


// updating interval laboratory values
document.getElementById("dropdownLaboratoryValues").addEventListener("change", function() {
  let selectedValue = this.value;
  var delayLaboratory;

  if (selectedValue === "1h" || selectedValue === "3h" || selectedValue === "6h" || selectedValue === "12h") {
    delayLaboratory = 60000;
  }
  else if (selectedValue === "1d") {
    delayLaboratory = 600000;
  }
  else if (selectedValue === "7d" || selectedValue === "30d") {
    delayLaboratory = 3600000;
  }
  clearTimeout(timeoutIdLaboratory);
  timeoutIdLaboratory = setTimeout(function() {
    updating_laboratory_values(delayLaboratory); 
  }, delayLaboratory)
});


// Updating interval humidtiy environment
document.getElementById("dropdownTearLength").addEventListener("change", function() {
  var delayTear;
  let selectedValue = this.value;

  if (selectedValue === "1h" || selectedValue === "3h" || selectedValue === "6h" || selectedValue === "12h") {
    delayTear = 60000;
  }
  else if (selectedValue === "1d") {
    delayTear = 600000;
  }
  else if (selectedValue === "7d" || selectedValue === "30d") {
    delayTear = 3600000;
  }
  clearTimeout(timeoutIdTear);
  timeoutIdTear = setTimeout(function() {
    updating_tear_length(delayTear); 
  }, delayTear)
});


// Updating interval economics
document.getElementById("dropdownEconomics").addEventListener("change", function() {
  var delayEconomics;
  let selectedValue = this.value;

  if (selectedValue === "1h" || selectedValue === "3h" || selectedValue === "6h" || selectedValue === "12h") {
    delayEconomics = 60000;
  }
  else if (selectedValue === "1d") {
    delayEconomics = 600000;
  }
  else if (selectedValue === "7d" || selectedValue === "30d") {
    delayEconomics = 3600000;
  }
  clearTimeout(timeoutIdEconomics);
  updating_economics(delayEconomics);
});


// Updating interval line power consumption
document.getElementById("dropdownLinePowerConsumption").addEventListener("change", function() {
  var delayLinePower;
  let selectedValue = this.value;

  if (selectedValue === "1h" || selectedValue === "3h" || selectedValue === "6h" || selectedValue === "12h") {
    delayLinePower = 60000;
  }
  else if (selectedValue === "1d") {
    delayLinePower = 600000;
  }
  else if (selectedValue === "7d" || selectedValue === "30d") {
    delayLinePower = 3600000; 
  }
  clearTimeout(timeoutIdLinePower);
  updating_line_power_consumption(delayLinePower);
});


// reset zoom
function resetZoomChart(chartZoom) {
  if (chartZoom === "Nonwoven") {
    nonwoven_unevenness_chart.resetZoom();
  }
  else if (chartZoom === "CardFloorEvenness") {
    card_floor_evenness_chart.resetZoom();
  }
  else if (chartZoom === "EnvironmentalValues") {
    environmental_values_chart.resetZoom();
  }
  else if (chartZoom === "LaboratoryValues") {
    laboratory_values_chart.resetZoom();
  }
  else if (chartZoom === "TearLength") {
    tear_length_chart.resetZoom();
  }
  else if (chartZoom === "Economics") {
    economics_chart.resetZoom();
  }
  else if (chartZoom === "LinePowerConsumption") {
    line_power_consumption_chart.resetZoom();
  }
}

</script>

{% endblock %}