{% extends 'Charts/index.html' %}

{% block content %}

<div class="container-fluid" style="background: #ffffff">

  <div class="row" data-row-id="row1">
    <div class="col-4">
      <div class="border1">
        <h1>Nonwoven Unevenness</h1>
        <canvas id="PerformanceMeasure"></canvas>
      </div>
    </div>
  

    <div class="col-4">
      <div class="border1">
        <h1>Line Power Consumption</h1>
        <canvas id="EnergieConsumption"></canvas>
      </div>
    </div>

    <div class="col-4">
      <div class="border1">
        <h1>Ambient Temperature</h1>
        <canvas id="AmbientTemperature"></canvas>
      </div>
    </div>
  </div>

  <div class="row" data-row-id="row3">
    <div class="col-8">
      <div class="border1">
        <h1>Lab Values</h1>
        <canvas id="LabValues"></canvas>
      </div>
    </div>

    <div class="col-4">
      <div class="border1">
        <h1>Humidity Environment</h1>
        <canvas id="HumidityEnvironment"></canvas>
      </div>
    </div>

  </div>


  <div class="row" data-row-id="row3">
    <div class="col-12">
      <div class="border1">
        <h1>Placeholder</h1>
        <canvas id="LabValues"></canvas>
      </div>
    </div>
  </div>

</div>




<script>
////////////////////////////////////////////////////////////////////////////////////////
// create initial chart nonwoven_unevenness
var nonwoven_uvenness = {{ nonwoven_uvenness|safe }}
var nonwoven_uvenness_time = {{ nonwoven_uvenness_time|safe }}

if (nonwoven_uvenness_time.length === 0) {
    let time_now = new Date();
    for (let i = 60; i >= 0; i--) {
        let time = new Date(time_now - i * 60000);
        nonwoven_unevenness_time.push(time.toLocaleTimeString());
    }
}

if (nonwoven_uvenness.length === 0) {
    for (let i = 60; i >= 0; i--) {
        nonwoven_unevenness.push(0);
    }
}

console.log(nonwoven_uvenness)
console.log(nonwoven_uvenness_time)
console.log('hi')

const options = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[quantity]', 
        font: {
          size: 12, 
        },
      },
    }
  }
};

var ctx_live = document.getElementById("PerformanceMeasure");
var nonwoven_unevenness_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: nonwoven_uvenness_time,
    datasets: [{
      data: nonwoven_uvenness,
      borderWidth: 2,
      radius: 0,
      borderColor: 'rgba(54, 162, 235, 1)',
      label: 'Nonwoven Unevenness',
      tension: 0.25,
      //fill: {
      // target: 'origin',
        //below: 'rgba(255, 99, 132, 0.2)',
        //above: 'rgba(4, 216, 14, 0.2)'
      //}, 
    }]
  },
  options: options,
});


///////////////////////////////////////////////////////////////////////////////////////////////


// create initial chart Energieverbrauch
var energyConsumption = {{ energy_consumption|safe }}
var energyConsumptionTime = {{ energy_consumption_time|safe }}

if (energyConsumptionTime.length === 0) {
    let time_now = new Date();
    for (let i = 60; i >= 0; i--) {
        let time = new Date(time_now - i * 60000);
        energyConsumptionTime.push(time.toLocaleTimeString());
    }
}

if (energyConsumption.length === 0) {
    for (let i = 60; i >= 0; i--) {
        energyConsumption.push(0);
    }
}


const options2 = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[kW]', 
        font: {
          size: 12, 
        },
        position: 'top',
      },
    }
  }
};

var ctx_live = document.getElementById("EnergieConsumption");
var energieConsumptionChart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: energyConsumptionTime,
    datasets: [{
      data: energyConsumption,
      borderWidth: 2,
      radius: 0,
      borderColor: 'rgba(0, 128, 0, 1)',
      label: 'Energy Consumption',
      tension: 0.25,
      //fill: {
      // target: 'origin',
        //below: 'rgba(255, 99, 132, 0.2)',
        //above: 'rgba(4, 216, 14, 0.2)'
      //}, 
    }]
  },
  options: options2,
});




///////////////////////////////////////////////////////////////////////////////////////////////


// create initial chart Ambient Temperature
var ambient_temperature = {{ ambient_temperature|safe }}
var ambient_temperature_time = {{ ambient_temperature_time|safe }}

if (ambient_temperature_time.length === 0) {
    let time_now = new Date();
    for (let i = 60; i >= 0; i--) {
        let time = new Date(time_now - i * 60000);
        ambient_temperature_time.push(time.toLocaleTimeString());
    }
}

if (ambient_temperature.length === 0) {
    for (let i = 60; i >= 0; i--) {
        ambient_temperature.push(0);
    }
}


const options3 = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[°C]', 
        font: {
          size: 12, 
        },
        position: 'top',
      },
    }
  }
};

var ctx_live = document.getElementById("AmbientTemperature");
var ambient_temperature_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: ambient_temperature_time,
    datasets: [{
      data: ambient_temperature,
      borderWidth: 2,
      radius: 0,
      borderColor: 'rgba(255, 0, 0, 1)',
      label: 'Temperature',
      tension: 0.25,
      //fill: {
      // target: 'origin',
        //below: 'rgba(255, 99, 132, 0.2)',
        //above: 'rgba(4, 216, 14, 0.2)'
      //}, 
    }]
  },
  options: options3,
});


///////////////////////////////////////////////////////////////////////////////////////////////


// create initial chart LaborWerte
var data_area_time_ = {{ area_weight_time|safe }}
var data_area_ = {{ area_weights|safe }}
var data_tensile_force_md_ = {{ tensile_force_md_all|safe }}
var data_tensile_force_cd_ = {{ tensile_force_cd_all|safe }}

if (data_area_time_.length === 0) {
    let time_now = new Date();
    for (let i = 60; i >= 0; i--) {
        let time = new Date(time_now - i * 60000);
        data_area_time_.push(time.toLocaleTimeString());
    }
}

if (data_area_[0].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_area_[0].push(0);
    }
}
if (data_area_[1].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_area_[1].push(0);
    }
}
if (data_area_[2].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_area_[2].push(0);
    }
}

if (data_tensile_force_cd_[0].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_tensile_force_cd_[0].push(0);
    }
}

if (data_tensile_force_cd_[1].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_tensile_force_cd_[1].push(0);
    }
}

if (data_tensile_force_cd_[2].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_tensile_force_cd_[2].push(0);
    }
}

if (data_tensile_force_md_[0].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_tensile_force_md_[0].push(0);
    }
}

if (data_tensile_force_md_[1].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_tensile_force_md_[1].push(0);
    }
}

if (data_tensile_force_md_[2].length === 0) {
    for (let i = 60; i >= 0; i--) {
        data_tensile_force_md_[2].push(0);
    }
}


const options5 = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      position: 'right',
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[g/m^2]', 
        font: {
          size: 12, 
        },
      },
    },
    y2: {
      position: 'left',
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[N]', 
        font: {
          size: 12, 
        },
      },
    }
  }
};

var ctx_live = document.getElementById("LabValues");
var area_weight_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: data_area_time_,
datasets: [
  {
    data: data_area_[0],
    borderWidth: 2,
    radius: 0,
    borderColor: 'rgba(255, 99, 132, 1)',
    label: 'AreaWeight min',
    tension: 0.25,
  },
  {
    data: data_area_[1],
    borderWidth: 2,
    radius: 0,
    borderColor: 'rgba(4, 216, 14, 1)',
    label: 'AreaWeight max',
    tension: 0.25,
  },
  {
    data: data_area_[2],
    borderWidth: 2,
    radius: 0,
    borderColor: 'rgba(0, 0, 255, 1)',
    label: 'AreaWeight median',
    tension: 0.25,
  },
      {
        data: data_tensile_force_md_[0],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(128, 0, 0, 1)', // Darker red for min
        label: 'TensileStrengthMD min',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },
      {
        data: data_tensile_force_md_[1],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(100, 50, 0, 1)', // Darker orange for max
        label: 'TensileStrengthMD max',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },
      {
        data: data_tensile_force_md_[2],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(128, 0, 0, 1)', // Darker red for median
        label: 'TensileStrengthMD median',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },


            {
        data: data_tensile_force_cd_[0],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(255, 128, 128, 1)', // Lighter red for min
        label: 'TensileStrengthCD min',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },
      {
        data: data_tensile_force_cd_[1],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(255, 180, 100, 1)', // Lighter orange for max
        label: 'TensileStrengthCD max',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },
      {
        data: data_tensile_force_cd_[2],
        borderWidth: 2,
        radius: 0,
        borderColor: 'rgba(255, 128, 128, 1)', // Lighter red for median
        label: 'TensileStrengthCD median',
        tension: 0.25,
        yAxisID: 'y2', // Use the left y-axis for this dataset
      },


]
  },
  options: options5,
});


///////////////////////////////////////////////////////////////////////////////////////////////


// create initial chart Ambient Temperature
var humidity_environment = {{ energy_consumption|safe }}
var humidity_environment_time = {{ energy_consumption_time|safe }}

if (humidity_environment_time.length === 0) {
    let time_now = new Date();
    for (let i = 60; i >= 0; i--) {
        let time = new Date(time_now - i * 60000);
        humidity_environment_time.push(time.toLocaleTimeString());
    }
}

if (humidity_environment.length === 0) {
    for (let i = 60; i >= 0; i--) {
        humidity_environment.push(0);
    }
}


const options4 = {
  maintainAspectRatio: false,
  responsive: true,
  legend: {
    display: true,
  },
  legend: {
    display: false
  },
  scales: {
    x: {
      beginAtZero: true,
      drawBorder: false,
    },
    y: {
      beginAtZero: true,
      type: 'linear',
      grid: {
        drawBorder: false,
        color: (context) => {
        if(context.tick.value === 0) {
            return 'black'
        }
        } 
      },
      beginAtZero: false,
      suggestedMin: 0,
      suggestedMax: 0,
      title: {
        display: true,
        text: '[%]', 
        font: {
          size: 12, 
        },
        position: 'bottom',
      },
    }
  }
};

var ctx_live = document.getElementById("HumidityEnvironment");
var humidity_environment_chart = new Chart(ctx_live, {
  type: 'line',
  data: {
    labels: energyConsumptionTime,
    datasets: [{
      data: energyConsumption,
      borderWidth: 2,
      radius: 0,
      borderColor:'rgba(255, 99, 132, 1)',
      label: 'Humidity',
      tension: 0.25,
      //fill: {
      // target: 'origin',
        //below: 'rgba(255, 99, 132, 0.2)',
        //above: 'rgba(4, 216, 14, 0.2)'
      //}, 
    }]
  },
  options: options4,
});


////////////////////////////////////////////////////////////////////


// logic to get new data for '1h' chart
var getData1 = function() {
  
  $.ajax({
    type: "GET",
    url: "/Charts/updateChartOneMinute",
    success: function(data) {
      var _data_performance=data[0];
      var _data_energy=data[1];
      var _data_area_max=data[2];
      var _data_area_min=data[3];
      var _data_area_median=data[4];
      var _data_tensile_cd_max=data[5];
      var _data_tensile_cd_min=data[6];
      var _data_tensile_cd_median=data[7];
      var _data_tensile_md_max=data[8];
      var _data_tensile_md_min=data[9];
      var _data_tensile_md_median=data[10];

      var now = new Date();
      var time = now.toLocaleTimeString();

      // Updating Performance
      nonwoven_unevenness_chart.data.labels.push(time);
      nonwoven_unevenness_chart.data.datasets[0].data.push(_data_performance);
      
      nonwoven_unevenness_chart.data.labels.shift();
      nonwoven_unevenness_chart.data.datasets[0].data.shift();
  
      nonwoven_unevenness_chart.update('none');


      // Updating Energieverbrauch
      energieConsumptionChart.data.labels.push(time);
      energieConsumptionChart.data.datasets[0].data.push(_data_energy);

      energieConsumptionChart.data.labels.shift();
      energieConsumptionChart.data.datasets[0].data.shift();

      energieConsumptionChart.update('none');


       // Updating AreaWeight
      area_weight_chart.data.labels.push(time);
      area_weight_chart.data.datasets[0].data.push(_data_area_min);
      area_weight_chart.data.datasets[1].data.push(_data_area_max);
      area_weight_chart.data.datasets[2].data.push(_data_area_median);

      area_weight_chart.data.datasets[3].data.push(_data_tensile_cd_min);
      area_weight_chart.data.datasets[4].data.push(_data_tensile_cd_max);
      area_weight_chart.data.datasets[5].data.push(_data_tensile_cd_median);

      area_weight_chart.data.datasets[6].data.push(_data_tensile_md_min);
      area_weight_chart.data.datasets[7].data.push(_data_tensile_md_max);
      area_weight_chart.data.datasets[8].data.push(_data_tensile_md_median);


      area_weight_chart.data.labels.shift();
      area_weight_chart.data.datasets[0].data.shift();
      area_weight_chart.data.datasets[1].data.shift();
      area_weight_chart.data.datasets[2].data.shift();
      area_weight_chart.data.datasets[3].data.shift();
      area_weight_chart.data.datasets[4].data.shift();
      area_weight_chart.data.datasets[5].data.shift();
      area_weight_chart.data.datasets[6].data.shift();
      area_weight_chart.data.datasets[7].data.shift();
      area_weight_chart.data.datasets[8].data.shift();

      area_weight_chart.update('none');

    }
  });
};

var updateCanvas = setInterval(getData1, 60000);

window.addEventListener('beforeunload', function() {
    clearInterval(updateCanvas);
});

</script>

{% endblock %}