{% load static %}

{% url 'index' as index %}
{% url 'energiewerte' as performance %}
{% url 'time' as time %}




<div class="wrapper d-flex">

  <div class="sidebar h-100">
  
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         Time Range
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="{{ index }}" >Last Hour</a></li>
          <li><a class="dropdown-item" href="{{ time }}" >Last 4 Hours</a></li>
        </ul>
      </div>

      <div class="nav flex-column mb-auto">
      
        <label class="nav-item">
          <input type="checkbox" class="canvas-checkbox" data-canvas-id="PerformanceMeasure" data-row-id="row1" checked>
     
          <span class="ms-2">Performance Measure</span>
        </label>

        <label class="nav-item">
          <input type="checkbox" class="canvas-checkbox" data-canvas-id="EnergieConsumption" data-row-id="row2" checked>

          <span class="ms-2">Energy</span>
        </label>

        <label class="nav-item">
          <input type="checkbox" class="canvas-checkbox" data-canvas-id="LabValues" data-row-id="row3" checked>

          <span class="ms-2">Laboratory Values</span>
        </label>
      </div>
   
    
  </div>
</div>
    

<script>
  $(document).ready(function () {
    // Setzen Sie die Checkboxen standardmäßig auf ausgewählt
    $('.canvas-checkbox').prop('checked', true);

    // Verwalten Sie die Anzeige und den Platz der Canvas-Elemente basierend auf den Checkbox-Änderungen
    $('.canvas-checkbox').change(function () {
      var rowId = $(this).data('row-id');
      var rowElement = $('[data-row-id="' + rowId + '"]');

      if ($(this).prop('checked')) {
        rowElement.slideDown();
      } else {
        rowElement.slideUp();
      }
    });
  });


function updateDropdownText(selectedValue) {
  // Setze den Text des Dropdown-Buttons auf den ausgewählten Wert
  document.getElementById("dropdownMenuButton1").innerText = selectedValue;
  
}
</script>

<style>
  .nav-item {
    margin-top: 10px;
    margin-left: 10px; /* Hier können Sie die gewünschte Pixelanzahl oder Einheit angeben */
  }
</style>