{% load static %}

{% url 'index' as index %}
{% url 'energiewerte' as energiewerte %}
{% url 'umweltwerte' as umweltwerte %}
{% url 'test4' as test4 %}
{% url 'v2_kostenfunktion' as v2_kostenfunktion %}



<div class="wrapper d-flex">

  <div class="sidebar h-100">
  
    <select id="timeRangeSelect" class="form-select" aria-label="Default select example">
      <option selected>Last Hour</option>
      <option value="4">Last 4 Hours</option>
    </select>

      <div class="nav flex-column mb-auto">
      
        <label class="nav-item">
          <input type="checkbox" class="canvas-checkbox" data-canvas-id="PerformanceMeasure" data-row-id="row1" checked>
     
          <span class="ms-2">Performance Measure</span>
        </label>

        <label class="nav-item">
          <input type="checkbox" class="canvas-checkbox" data-canvas-id="EnergieConsumption" data-row-id="row2" checked>

          <span class="ms-2">Energy</span>
        </label>

        <label class="nav-item">
          <input type="checkbox" class="canvas-checkbox" data-canvas-id="LabValues" data-row-id="row3" checked>

          <span class="ms-2">Laboratory Values</span>
        </label>
      </div>
   
    
  </div>
</div>
    

<script>
  $(document).ready(function () {
    // Setzen Sie die Checkboxen standardmäßig auf ausgewählt
    $('.canvas-checkbox').prop('checked', true);

    // Verwalten Sie die Anzeige und den Platz der Canvas-Elemente basierend auf den Checkbox-Änderungen
    $('.canvas-checkbox').change(function () {
      var rowId = $(this).data('row-id');
      var rowElement = $('[data-row-id="' + rowId + '"]');

      if ($(this).prop('checked')) {
        rowElement.slideDown();
      } else {
        rowElement.slideUp();
      }
    });
  });
</script>

<style>
  .nav-item {
    margin-top: 10px;
    margin-left: 10px; /* Hier können Sie die gewünschte Pixelanzahl oder Einheit angeben */
  }
</style>